<div class="bloco-cadastro">
    <img src="../assets/instadev-logo.svg" alt="Logo Instadev">
    <p class="chamada">Cadastre-se para ver fotos e vídeos dos seus amigos.</p>
    <form action="post">
        <input class="input-padrao" type="email" placeholder="Email">
        <input class="input-padrao" type="text" placeholder="Nome Completo">
        <input class="input-padrao" type="text" placeholder="Nome de usuário">
        <input class="input-padrao" type="password" placeholder="Senha">
        <button class="botao-padrao" type="submit">Cadastre-se</button>
        
        <div class="acordo-termos">
            <p>Ao se cadastrar, você concorda com nossos Termos, Política de Dados e Política de Cookies. </p>
        </div>
    </form>
</div>